<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/assets/css/login.css}">
</head>
<body>
    <div class="container">
        <!-- <img src="./image/bg bit logo.png" height="100%" width="100%"> -->
        <h2>Welcome back!</h2>
        <img th:src="@{/assets/images/Untitled.jpeg}" height="200px" width = '200px' style="margin: auto;display: block;">
        <form th:action="@{/login}" method="post" style="padding: 10px;" th:object="${ldetail}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" th:field="*{email}" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" th:field="*{password}" required>
            <input type="submit" value="Login">
            <!-- <h3 style="font-weight: 400; text-align: center; margin-top: 0;">BIT HACK 24</h3> -->
            <!-- <input type="submit" value="Sign in"> -->
        </form>
        <div style="width: 100%;">
            <a href="#" style="font-size: small;text-align: center;margin-top: 1rem;">New User?</a>
        </div>
    </div> 
</body>
</html>
